{{ define "main" }}
<main role="main">

    <div class="container page-content">

        <div class="jumbotron">
            <h2 class="display-4">Serpent OS</h2>
            <p class="lead">A Truly Modern Linux* Distribution</p>
            <hr class="my-4" />
            <p>
                Serpent OS is a research effort into creating a truly modern Linux* distribution
                that defies normal conventions. It is not your typical user-facing distribution,
                and has notably different design goals.

                Right now we're in an early stage of development, but you're more than welcome to
                check out the roadmap.
            </p>

            <a href="/roadmap" class="btn btn-primary" role="button"><i class="fas fa-road"></i> &nbsp; Roadmap</a>
            <a href="/about" class="btn btn-primary" role="button"><i class="fa fa-info"></i> &nbsp; About</a>
            <a href="/about" class="btn btn-primary" role="button"><i class="fa fa-rss-square"></i> &nbsp; News</a>
        </div>

    </div>
</main>

{{ end }}
