{{ define "title" }}
<title>{{.Site.Title}}</title>
{{ end }}

{{ define "main" }}
<main role="main">

    <div class="container page-content">

        <div class="jumbotron">
            <h2 class="display-4">Serpent OS <i class="fas fa-snowplow"></i></h2>
            <p class="lead">A Truly Modern Linux* Distribution, Heavily Under Construction</p>
            <hr class="my-4" />
            <p>
Serpent OS is building a pioneering new Linux distribution, with a focus on cutting edge technologies
in a 100% open source project. We're infinitely forkable, flexible and reliable, and you can be part of our
community oriented success story.

Using technologies like the LLVM stack, musl libc, D Lang, atomic updates, rollbacks and kernel patching, we want you to be ahead of the curve, without the price tag.
            </p>

            <a href="/roadmap" class="btn btn-info" role="button"><i class="fas fa-road"></i> &nbsp; Roadmap</a>
            <a href="/about" class="btn btn-info" role="button"><i class="fa fa-info"></i> &nbsp; About</a>
            <a href="/blog" class="btn btn-info" role="button"><i class="fa fa-rss-square"></i> &nbsp; News</a>
        </div>

    </div>
</main>

{{ end }}
