{{ define "main" }}
<main role="main">

    <!-- Big Pretty Banner //-->
    <center>
        <div class="jumbotron jumbotron-fluid bg-info text-light">
            <h2 class="display-4">Open Access, Open Source</h2>
            <p class="lead">We're building a pioneering new Linux distribution based on modern technologies, enabling stellar features for everyone, without the price tag</p>
            <a class="btn btn-outline-light btn-lg" href="/about" role="button">Learn more</a>
        </div>
    </center>

    <div class="container page-content">

    <script src="https://opencollective.com/serpent-os/contribute/button.js" color="blue"></script><br />

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <i class="fas fa-code-branch fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="display-5">Forkable</h2>
                    <p class="lead">Serpent OS is 100% open source, and forkable to the very core. Want to bootstrap a new architecture? Or respin to meet your own needs? Go ahead! The freedom is yours.</p>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <i class="fas fa-route fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="display-5">Flexible</h2>
                    <p class="lead">Open source software should empower users to make their own decisions, without getting in their way. This is why Serpent OS is highly extensible, allowing you to create uses we never dreamed of.</p>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <i class="fas fa-hands-helping fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="display-5">Reliable</h2>
                    <p class="lead">We believe that a secure and well functioning operating system shouldn't come at a premium. Our mission is to keep you running, without the hassle.</p>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <i class="fas fa-hand-holding-usd fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="display-5">Free</h2>
                    <p class="lead">We're free as in beer, and free as in speech. We promise to make Serpent OS free, forever. You'll never be charged a cent to use or download Serpent OS, and our code will always be open source.</p>
                </div>
            </div>
        </div>

        <div class="jumbotron jumbotron-fluid bg-transparent text-dark my-1 py-3">
            <div class="row">
                <div class="col-3 col-sm-2">
                    <i class="fas fa-heart fa-5x text-info py-3"></i>
                </div>
                <div class="col text-left">
                    <h2 class="display-5">Joy</h2>
                    <p class="lead">Great software is created through passion. We're building a passionate community around Serpent OS and only ask you enjoy yourself too. We'll do everything we can to ensure a safe, cooperative and fun environment.</p>
                </div>
            </div>
        </div>
    </div>

</main>
{{ end }}
