{{ define "main" }}
<main role="main">

    <!-- Big Pretty Banner //-->
    <center>
        <div class="jumbotron jumbotron-fluid bg-info text-light">
            <h2 class="display-4">Open Access, Open Source</h2>
            <p class="lead">We're building a pioneering new Linux distribution based on modern technologies, enabling stellar features for everyone, without the price tag</p>
            <a class="btn btn-outline-light btn-lg" href="/about" role="button">Learn more</a>
        </div>
    </center>

    <div class="container page-content">
        WORDS GO HERE
    </div>

</main>
{{ end }}
