<div class="pt-3 px-5 py-4 border-bottom">
    <div class="row">
        <div class="col-sm-4">
            <a href="{{.Permalink}}"><img src="{{.Params.FeaturedImage}}" class="img-fluid" /></a>
        </div>
        <div class="col">
            <h5 class="title text-info">{{.Title}} <small class="text-right float-right text-muted">{{ .Date.Format "Monday, January 2, 2006" | safeHTML }}</small></h5>
            <small><i>Written by&nbsp;
            {{ range .Params.authors }}
                {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    {{ .Params.name }} ({{.Params.role}})
                {{ end }}
            {{ end }}
            </i></small>
                {{ range .Params.categories }}
                {{ with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
                    <a href="{{.Permalink}}" class="float-right"><span class="badge badge-{{.Params.color}}">{{ .Params.name }}</span></a>
                {{ end }}
            {{ end }}
            <br />
            <p>
                {{.Summary}}
            </p>
            <a class="float-right pull-right text-info stretched-link" href="{{.Permalink}}">Read More</a>
        </div>
    </div>
</div>
