<div class="pt-3 bg-transparent px-5 py-4">
    <div class="row">
        <div class="col-3">
            <a href="{{.Permalink}}"><img src="{{.Params.FeaturedImage}}" width="100%" /></a>
        </div>
        <div class="col">
            <h5 class="title text-info"><i class="fas fa-highlighter"></i>&nbsp; {{.Title}} <small class="text-right float-right">{{ .Date.Format "Monday, January 2, 2006" | safeHTML }}</small></h5>
            <small><i>Written by&nbsp;
            {{ range .Params.authors }}
                {{ with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                    {{ .Params.name }} ({{.Params.role}})
                {{ end }}
            {{ end }}
            </i></small>
            <br />
            <p>
                {{.Summary}}
            </p>
            {{ range .Params.categories }}
                {{ with $.Site.GetPage "taxonomyTerm" (printf "categories/%s" (urlize .)) }}
                    <a href="{{.Permalink}}"><span class="badge badge-{{.Params.color}}">{{ .Params.name }}</span></a>
                {{ end }}
            {{ end }}

            <a class="float-right pull-right text-info stretched-link" href="{{.Permalink}}">Read More</a>
        </div>
    </div>
</div>
