<script src="/js/jquery-3.5.1.slim.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<footer class="page-footer footer text-dark">
    <div class="container py-3 px-3">
        <div class="row">
            <div class="col-4">
                {{.Site.Copyright | safeHTML}}
            </div>
            <div class="col-4"></div>
            <div class="col-4 text-right">
                <a href="/privacy" class="text-muted">Privacy Policy</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/about" class="text-muted">About</a>
            </div>
        </div>
    </div>
    </div>
</footer>
