{{ define "title" }}
<title>Blog | Serpent OS</title>
{{ end }}

{{ define "main" }}
<main role="main">

    <div class="jumbotron jumbotron-fluid bg-light border-bottom">
        {{ with .Site.GetPage .Site.Params.FeaturedPost }}
            {{ partial "featuredBlog.html" . }}
        {{ end }}
    </div>

    <div class="container page-content">
    {{ .Content }}

    {{ range .Paginator.Pages }}
    {{ partial "blogentry.html" . }}
    {{ end }}
    {{ partial "pagination.html" . }}
    </div>

</main>
{{ end }}
