{{ define "title" }}
<title>Blog | Serpent OS</title>
{{ end }}

{{ define "main" }}
<main role="main">

    <!-- Big Pretty Banner //-->
    <center>
        <div class="jumbotron jumbotron-fluid bg-info text-light my-0">
            <h1>Blog</h1>
            <p class="lead">We wrote stuff so that you might read it.</p>
        </div>
    </center>

    <!--
    <div class="jumbotron jumbotron-fluid bg-light border-bottom">
        {{ with .Site.GetPage .Site.Params.FeaturedPost }}
            {{ partial "featuredBlog.html" . }}
        {{ end }}
    </div>
    //-->

    <div class="container page-content">
    {{ .Content }}

    {{ range .Paginator.Pages }}
    {{ partial "blogentry.html" . }}
    {{ end }}
    {{ partial "pagination.html" . }}
    </div>

</main>
{{ end }}
