<nav>
    <label for="drop" class="toggle"><i class="fas fa-bars u-pull-right" aria-hidden="true"></i> <span><i
                class="fab fa-linux" aria-hidden="true"></i>
            Serpent OS</span></label>
    <input type="checkbox" id="drop" />
    <ul class="menu">
        <li><a href="{{ .Site.BaseURL }}"><span><i class="fab fa-linux" aria-hidden="true"></i>
                    Serpent OS</span></a></li>
        {{ range .Site.Menus.nav }}
        <li class="u-pull-right">
            <a href="{{ .URL | absLangURL }}" class="Members">
                <span>{{ .Pre }} {{ .Name }}</span>
            </a>
        </li>
        {{ end }}
    </ul>
</nav>
